



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
<div class=" fixed-bottom ">
<div class="position-absolute bottom-0 end-0"><a (click)="abrirModal()" class="btn-lg pull-center"><i class="m-2 puto bi bi-plus-circle" style="font-size: 2.6rem"></i></a></div>
</div>
<div class="container-fluid p-0">
<div class="row">
<div class="col-12">
<div class="panel">
<div class="panel-body shadow table-responsive">
<table class="table table-hover">
<thead>
 <tr>
 
 <th>Id</th>
 <th>Nombre</th>
 <th>Ciudad</th>
 <th>Sector</th>
 <th>Responsable</th>
 <th>Acciones</th> 
       
 </tr>
</thead>
<tbody >
 <tr *ngFor="let empresa of Empresa">
  
                      <td>{{empresa.id}}</td>
                      <td>{{empresa.nombre}}</td>
                      <td>{{empresa.ciudad}}</td>
                      <td>{{empresa.sector}}</td>
                      <td>{{empresa.responsable}}</td>
                      <td>
                        <ul class="action-list d-flex justify-content-even">
                        <li class="mr-3 gorila"><i (click)="editarObjeto(empresa)" class="bi bi-pencil-square" style="font-size: 1.4rem">  </i></li>
                        <li class="ml-10 gorila"><i (click)="borrarObjeto(empresa)" class="fa fa-times gorila" style="font-size: 1.4rem"></i></li>
                        </ul>
                      </td>
  </tr> 
 </tbody>
</table>
</div>
<div class="panel-footer">

</div>
</div>
</div>
</div>
</div>