


    
      <h2 mat-dialog-title> INICA SESION </h2>
    
    <mat-dialog-content>
      
    <form [formGroup]="loginForm" class="d-flex flex-column justify-content-center align-items-center" (ngSubmit)="onSubmit()">
    <mat-form-field>      <mat-label for="username">Username:</mat-label>
    
      <input matInput formControlName="username"  type="text" id="username" name="username"  [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"/>
      <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
        <div *ngIf="f['username'].errors['required']">Username is required</div>
    </div>
    </mat-form-field>

<mat-form-field>
      <mat-label  for="password">Password:</mat-label>
   
      <input matInput formControlName="password" type="password" id="password-field" name="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"/>
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors['required']">Password is required</div>
    </div>
  </mat-form-field>
    
    <button mat-raised-button (click)="onClick()" type="submit">Login</button>
    
  </form>
    </mat-dialog-content>






