<!-- register.component.html -->


    <div class="row justify-content-center">
      <div class="row justify-content-center">
      
        <div class="login-box shadow p-3  rounded">
  <form  class="d-flex flex-column justify-content-center align-items-center" (ngSubmit)="onSubmit()">
      <div class="form-group ">
        <label for="username">Nombre:</label>
        <input class="quitar-bordes form-control" type="text" id="username" name="username" [(ngModel)]="Empresa.nombre" required>
      </div>
      <div class="form-group ">
        <label for="email">Ciudad:</label>
        <input class="quitar-bordes form-control" type="email" id="email" name="email" [(ngModel)]="Empresa.ciudad" required>
      </div>
      <div class="form-group ">
        <label for="empresa">Sector:</label>
        <input class="quitar-bordes form-control" type="sector" id="sector" name="sector" [(ngModel)]="Empresa.sector" required>
      </div>
      <div class="form-group ">
        <label for="empresa">Responsable:</label>
        <input class="quitar-bordes form-control" type="resp" id="resp" name="resp" [(ngModel)]="Empresa.responsable" required>
      </div>
      <button class="btn gris mt-2" type="submit">Register</button>
    </form>
  </div>
  </div>
  </div>
