<!-- register.component.html -->

<h2 mat-dialog-title>Add Company</h2>
    <mat-dialog-content>
    <form class="d-flex flex-column" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label for="username">Nombre:</mat-label>
        <input matInput  type="text" id="username" name="username" [(ngModel)]="Empresa.nombre" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="email">Ciudad:</mat-label>
        <input matInput  type="email" id="email" name="email" [(ngModel)]="Empresa.ciudad" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="empresa">Sector:</mat-label>
        <input matInput  type="sector" id="sector" name="sector" [(ngModel)]="Empresa.sector" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="empresa">Responsable:</mat-label>
        <input matInput  type="resp" id="resp" name="resp" [(ngModel)]="Empresa.responsable" required>
      </mat-form-field>
      <button mat-button color="secondary" type="submit">Register</button>
    </form>
  </mat-dialog-content> 